.search button {
    margin-left: 0.5rem;
}

.trackName {
    font-size: 1.5rem;
}

.track {
    display: flex-wrap;
    border-bottom: solid black 1px;
    text-align: center;
    width: 50%;
    margin: 1rem;
}

.trackArt img{
    text-align: center;
}

/* .allTracks {
    display: flex-wrap;
} */

audio {
    width: 100%;
}