* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

body {
    padding: 1rem;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

li {
    line-height: 1rem;
}

/* .search_box {
    display: flex;
    flex-wrap: wrap;
    line-height: 1rem;
} */

.search_box button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.trackName {
    font-size: 1rem;
    padding: 0.25rem;
    /* text-overflow: ellipsis;
    max-width: 180px; */
}

.trackAlbum {
    font-size: 0.5rem;
    padding: 0.25rem;
}

.all_tracks {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.track {
    text-align:center;
    margin: 1rem;
    width: 70%;
    max-width: 200px;
    box-shadow: 0px 8px 5px 5px;
    background-color: #eeeeee;
}

.track:hover {
    transform: scale(1.1);
}

img{
    text-align: center;
    padding-top: 1rem;
}

audio {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .all_tracks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .track {
        width: 40%;
        /* max-width: 100px; */

    }
}