* {
    margin: 0;
    padding: 0;
}

.search button {
    margin-left: 0.5rem;
}

.trackName {
    font-size: 1.5rem;
}

.all_tracks {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.track {
    text-align: center;
    margin: 1rem;
    width: 70%;
    box-shadow: 0px 10px 8px 10px #888888;
}

.track:hover {
    transform: scale(1.1);
}

img{
    text-align: center;
    padding-top: 1rem;
}

audio {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .all_tracks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .track {
        width: 40%;
        /* max-width: 100px; */

    }
}